################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Debug
/Project1/Debug
/.vs/Project1/v15
/Project1.sln
/Nowy dokument
/link.txt
/arial.ttf
/Project1/Project1.*
/.vs
/Project1/.vs
/Project1/x64/Debug
