################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Debug
/Project1/Debug
/.vs/Project1/v15
